<html>
  <head>
    <title>STV Counter</title>
    <link href="foundation.min.css" rel="stylesheet" /> 
    <script src="angular.min.js"></script>
    <script src="stvCounter.js"></script>
    <script src="core.js"></script>
  </head>
  <body ng-app="core" ng-controller="mainController as ctrl" class="row column">

    <h1>Single Transferable Vote Counter</h1>
    <h6>A webapp meant to demonstrate angular service module <a target="_blank" href="https://github.com/Foshkey/stv-counter/blob/master/stvCounter.js">stvCounter.js</a></h6>
    <hr />

    <div class="row">
      <form name="ctrl.ballotForm" class="medium-8 columns" ng-submit="ctrl.countVotes()">
        <h4>Ballot Input</h4>
        <h6><a href="">How should the ballots be entered?</a></h6>
        <textarea ng-model="ctrl.ballotForm.text" rows="12" required></textarea>
        <label>
          How many seats need to be filled?
          <input type="number" ng-model="ctrl.ballotForm.seats" required />
        </label>
        <input type="submit" class="large hollow button" value="Count Votes" /> 
      </form>


      <div class="medium-4 columns" style="border-left: 1px solid #CCC;">
        <hr class="show-for-small-only" />

        <h4>Examples</h4>
        <input type="button" class="hollow button" ng-click="ctrl.fillAndreaExample()" value="Andrea" />
        <input type="button" class="hollow button" ng-click="ctrl.fillSnacksExample()" value="Snacks" />
        <input type="button" class="hollow button" ng-click="ctrl.toggleGeneratedExampleForm()" value="Randomly Generated" />

        <form name="ctrl.generatedExampleForm" ng-show="ctrl.generatedExampleForm.show" ng-submit="ctrl.fillGeneratedExample()">
          <p>Alright, I'll generate some random ballots for you, but I need some parameters.</p>
          <label>
            Who are the candidates? Separate by lines.
            <textarea ng-model="ctrl.generatedExampleForm.candidatesText" rows="8" required></textarea>
          </label>
          <label>
            How many ballots (or total votes)?
            <input type="number" ng-model="ctrl.generatedExampleForm.votes" required />
          </label>
          <label>
            How many seats need to be filled?
            <input type="number" ng-model="ctrl.generatedExampleForm.seats" required />
          </label>
          <input type="submit" class="hollow button" value="Generate" />
        </form>
      </div>
    </div>

    <div class="callout success" ng-show="ctrl.elected.length > 0">
      <h3>Elected</h3>
      <h6>Seats - {{ctrl.seats}}</h6>
      <div class="callout">
        <h5 ng-repeat="elected in ctrl.elected track by $index">{{elected}}</h5>
      </div>
    </div>

    <div class="primary callout" ng-show="ctrl.rounds.length > 0">
      <h3>Rounds</h3>
      <h6>Quota - {{ctrl.quota}}<h6>
      <div class="row small-up-1 medium-up-2 large-up-3">
        <div class="columns" ng-repeat="round in ctrl.rounds track by $index">
          <div class="callout">
            <h5>Round {{$index + 1}}</h5>
            <div class="row" ng-repeat="(candidate, value) in round">
              <div class="small-5 columns">{{candidate}}</div>
              <div class="small-2 columns">{{value.votes | number}}</div>
              <div class="small-5 columns">
                <strong ng-show="value.eliminated" style="color: red;">Eliminated</strong>
                <strong ng-show="value.elected" style="color: green;">Elected</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="primary callout" ng-show="ctrl.ballots.length > 0">
      <h3>Ballots</h3>
      <div class="row small-up-2 medium-up-4 large-up-6">
        <div class="columns" ng-repeat="ballot in ctrl.ballots track by $index">
          <div class="callout">
            <div ng-repeat="candidate in ballot track by $index">
              {{$index + 1}} - {{candidate}}
            </div>
          </div>
        </div>
      </div>  
    </div>

    <footer>
      <hr />
      <div class="row">
        <div class="medium-4 columns">
          &copy;2016 Foshkey<br />
          <a target="_blank" href="https://github.com/Foshkey/stv-counter/blob/master/LICENSE">MIT License</a><br />
        </div>
      <div class="medium-4 columns">
        <hr class="show-for-small-only" />
        <strong>Built With</strong><br />
          <a target="_blank" href="https://angularjs.org">AngularJS</a><br />
          <a target="_blank" href="http://foundation.zurb.com/">Foundation 6 CSS</a><br />
        </div>
      <div class="medium-4 columns">
        <hr class="show-for-small-only" />
        <a target="_blank" href="https://github.com/Foshkey/stv-counter">GitHub Repository</a>
        </div>
      </div>
    </footer>

  </body>
</html>